APP_NAME="ShipItAsia WMS"

APP_ENV="dev"
APP_URL="http://localhost:3001"

MONGODB_URI="mongodb://admin:12345678@localhost:27017"
MONGODB_NAME="vw_wms"

CMS_SECRET="your_secret"
CMS_JWT_EXPIRES_IN="1d"

PASSWORD_SALT=10

API_SECRET="s3cureP@ssw0rd1234567890abcdefas" # 32 characters

REDIS_URI="127.0.0.1"
REDIS_PORT="6379"
REDIS_PASSWORD="pass.123"

ENABLE_CRON="true"
NEXT_PUBLIC_NO_STATIC_ROUTE=1
NEXT_PUBLIC_APP_NAME="ShipItAsia"

COOKIE_MAX_AGE=36000
